<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" class="uk-height-1-1">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - UIkit 3 KickOff</title>
    <link rel="icon" href="{% static "img/favicon.ico" %}">
    <!-- CSS FILES -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/css/uikit.min.css">
    <style type="text/css">
        .uk-background-muted {
            background-image: url("{% static "img/login.jpg" %}");
            height: 100%;
            width: 100%;
            background-position: center 0;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body class="uk-height-1-1">
<div class="uk-flex uk-flex-center uk-flex-middle uk-background-muted uk-height-viewport">
    <div class="uk-position-bottom-center uk-position-small uk-visible@m" style="color:rgb(53, 46, 38)">
        <span class="uk-text-small"> Created by &nbsp;第四组：幺蛾子&nbsp;</a> | Built with <a href="http://getuikit.com"
                                                                                        title="Visit UIkit 3 site"
                                                                                        target="_blank" data-uk-tooltip><span
                data-uk-icon="uikit"></span></a></span>
    </div>
    <div class="uk-width-1-4">
        <form action="{% url 'MetalFighter:login' %}" method="post">
            {% csrf_token %}
            <fieldset class="uk-fieldset">
                <legend class="uk-legend">登录</legend>
                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: user"></span>
                        <!--登录参数-->
                        <input name="loginUser" class="uk-input uk-form-medium" required placeholder="Username" type="text">
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
                        <!--密码参数-->
                        <input name="loginPwd" class="uk-input uk-form-medium" required placeholder="Password"
                               type="password">
                    </div>
                </div>
                <div class="uk-margin">
                    <button type="submit"
                            class="uk-button uk-button-primary uk-button-primary uk-button-medium uk-width-1-1">LOG IN
                    </button>
                </div>
            </fieldset>
        </form>
        <div>
            <div class="uk-text-center">
                <a class="uk-link-reset uk-text-small"
                   data-uk-toggle="target: #recover;animation: uk-animation-slide-top-small">Forgot your password?</a>
            </div>
            <div class="uk-margin-small-top" id="recover" hidden>
                <form action="login.html">
                    <div class="uk-margin-small">
                        <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: mail"></span>
                            <input class="uk-input" placeholder="E-mail" required type="text">
                        </div>
                    </div>

                    <div class="uk-margin-small">
                        <button type="submit" class="uk-button uk-button-primary uk-button-primary uk-width-1-1">SEND
                            PASSWORD
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- JS FILES -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/js/uikit-icons.min.js"></script>
</body>
</html>

