<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>pay70</title>
    <link rel="icon" href="img/favicon.ico">
    <!-- CSS FILES -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/css/uikit.min.css">
    <style>
        .uk-container-small {
            max-width: 46rem;
        }

        .whole {
            min-height: 650px;
        }
    </style>
</head>
<body>
<div class="uk-offcanvas-content">
    <!--HEADER-->
    <header style="background-color: rgba(214, 211, 211, 0.747); border-bottom: 1px solid #f2f2f2;"
            data-uk-sticky="show-on-up: true; animation: uk-animation-slide-top">
        <div class="uk-container">
            <nav id="navbar" data-uk-navbar="mode: click;" style="height :75px;">
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <li>
                            <a href="#" data-uk-icon="icon:user"></a>
                            <div class="uk-navbar-dropdown uk-navbar-dropdown-bottom-left">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li class="uk-nav-header uk-text-small uk-text-primary">YOUR ACCOUNT</li>
                                    <li><a href="#"><span data-uk-icon="icon: heart"></span> 我的收藏</a></li>
                                    <li><a href="#"><span data-uk-icon="icon: settings"></span> 修改个人信息</a></li>
                                    <li class="uk-nav-divider"></li>
                                    <li><a href="#"><span data-uk-icon="icon: sign-out"></span> 注销</a></li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav uk-visible@m">
                        <li class="uk-active"><a href="/MetalFighter/queryInfo">地图广场</a></li>
                        <li><a href="/MetalFighter/authorWork">我的博客</a></li>
                        <li><a href="/MetalFighter/pushBlog">写博客</a></li>
                        <li><a href="/MetalFighter/charge">购买会员</a></li>
                        <li><a href="/MetalFighter/register">注册</a></li>
                    </ul>
                    <div class="uk-navbar-item">
                        <a class="uk-navbar-toggle uk-hidden@s" data-uk-toggle data-uk-navbar-toggle-icon
                           href="#offcanvas-nav"></a>
                        {% if  username != "none" %}
{#                            <a href="/MetalFighter/login" class="uk-button uk-button-secondary uk-visible@m"><span#}
{#                                    data-uk-icon="sign-in"></span>登出</a>#}
                             <form action="{% url 'MetalFighter:logout' %}" method="post">
                                {% csrf_token %}
                                <button class="uk-button uk-button-secondary uk-visible@m" data-uk-icon="sign-out" type="submit">登出</button>
                             </form>
                        {% else %}
                            <a href="/MetalFighter/login" class="uk-button uk-button-secondary uk-visible@m"><span
                                    data-uk-icon="sign-in"></span>登录</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--/HEADER-->
    <!--主体-->
    <div class="whole">
        <!--AUTHOR-->
        <section class="uk-section uk-section-muted uk-padding-remove-bottom">
            <div class="uk-container uk-container-medium">
                <header class="uk-text-center">
                    <h1 class="uk-heading-primary">支付页面</h1>
                    <p class="uk-width-4-5 uk-margin-auto">
                        扫描下方二维码进行付款
                    </p>
                </header>
                <div class="uk-grid uk-grid-medium uk-child-width-3-5@m uk-margin-auto uk-grid-match"
                     data-uk-scrollspy="cls: uk-animation-slide-bottom-small; target: > div > .uk-card; delay: 200"
                     data-uk-grid style="max-width: 500px; margin-bottom: 20px">
                    <!-- price -->
                    <div>
                        <div class="uk-card uk-card-default uk-card-hover uk-flex uk-flex-column">
                            <div class="uk-card-header uk-text-center">
                                <h4 class="uk-text-bold" style="font-size: 30px">90天</h4>
                            </div>
                            <div class="uk-card-body uk-flex-1">
                                <img src="{% static "img/70.jpg" %}"/>
                            </div>
                            <div class="uk-card-footer">
                                <form method="post" action="{% url 'MetalFighter:charge' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="charge" value="90">
                                    <button type="submit"
                                            class="uk-button uk-button-primary uk-button-primary uk-button-medium uk-width-1-1">
                                        支付成功
                                    </button>
                                </form>
                                <a href="/MetalFighter/charge" class="uk-button uk-button-success"
                                   style="max-width: 200px;margin-bottom: 10px">返回</a>
                            </div>
                        </div>
                    </div>
                    <!-- /price -->
                </div>
            </div>
        </section>
    </div>
    <!--/主体-->
    <!-- footer -->
    <div class="uk-flex-bottom">
        <footer class="uk-section uk-section-small"
                style="margin-bottom: 10px; background-color: rgba(223, 223, 223, 0.747);max-height: 40px;">
            <div class="uk-container">
                <p class="uk-text-small uk-text-center">2018 - 幺蛾子 | Built with <a href="http://getuikit.com"
                                                                                   title="Visit UIkit 3 site"
                                                                                   target="_blank" data-uk-tooltip><span
                        data-uk-icon="uikit"></span></a></p>
            </div>
        </footer>
    </div>
    <!-- /footer -->
</div>
<!-- JS FILES -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/js/uikit-icons.min.js"></script>
</body>
</html>
