<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action="{% url 'MetalFighter:query' %}" method="post">
        <input type="text" name="queryInfo" value="tim">
        {% csrf_token %}
        <input type="submit" value="send">
    </form>
</div>
<div>
    <form action="{% url 'MetalFighter:pass_detail' %}" method="post">
        <input type="text" name="pid" value="3">
        {% csrf_token %}
        <input type="submit" value="send">
    </form>
</div>
<div>
    <form action="{% url 'MetalFighter:authorWork' %}" method="post">
        <input type="text" name="author" value="ppp">
        {% csrf_token %}
        <input type="submit" value="send">
    </form>
</div>
<div>
    <form action="{% url 'MetalFighter:writeBlog' %}" method="post">
        <input type="text" name="title" value="tenka">
        <input type="text" name="author" value="ppp">
        <input type="text" name="subscribe" value="ieofkcnv">
        <input type="text" name="pic_no" value="3">
        <input type="text" name="context" value="456yujuqdr4tyjuki78l6dfgej654w">
        {% csrf_token %}
        <input type="submit" value="send">
    </form>
</div>
</body>
</html>